.MuiToolbar-regular {
  position: static;
  background-color: purple;
}

.title {
  flex-grow: 1;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.btn-nav .MuiButton-label {
  color: white;
}
